@import "tailwindcss";
*{
    font-family: poppins,'sans-serif';
}
.Navbar{
    background-color: #191919;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #131c3b;
}

::-webkit-slider-thumb{
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#080b18;
}